<link rel="stylesheet" href="/css/admin.css">

<form class="">
  <div class="main">
    <p class="sign" align="center">Admin</p>
    <form class="form1">

        <form class="" method="" action="">
        <button class="submit" align="center" type="submit">------------</button>
      </form>

        <form class="" method="POST" action="/home">
        <button class="submit" align="center" type="submit">Manage Info</button>
      </form>

      <form class="" method="POST" action="/usersview">
        <button class="submit" align="center" type="submit">Manage Users</button>
      </form>

      <form class="" method="POST" action="/messageview">
        <button class="submit" align="center" type="submit">View Complaints</button>
      </form>

      <form class="" method="POST" action="/login">
        <button class="submit" align="center" type="submit">Back</button>
      </form>

      <form class="" method="POST" action="/">
        <button class="submit" align="center" type="submit">Logout</button>
      </form>
  </div>
</form>